* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('../assets/bg.jpg');
    background-size: cover;
    background-position: bottom left;
    background-repeat: no-repeat;
}

.main-container {
    padding: 1rem;
}

.form-container {
    margin-top: 2.5rem;
    padding: 0 3% 0 24%;
}

.form-control {
    background-color: #E6E6E6 !important;
}

label {
    font-family: 'poppins', sans-serif;
    font-size: larger;
    color: #000;
}

.btn-primary {
    background-color: #00B3E2;
    padding: .4rem 2.5rem;
    border-radius: 18px;
    border-style: none;
}
