* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('../assets/bg.jpg');
    background-size: cover;
    background-position: top;
}

.container {
    height: 100vh;
    position: relative;
}

.form-container {
    position: absolute;
    top: 40%;
}