* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('../assets/bg.jpg');
    background-size: cover;
    background-position: top;
}

.container {
    height: 100vh;
    position: relative;
}

.form-container {
    position: absolute;
    top: 44%;
}

.form-control {
    background-color: #E6E6E6 !important;
}

label {
    font-family: 'poppins', sans-serif;
    font-size: larger;
    color: #ffffff;
}

.btn-primary {
    background-color: #00B3E2;
    padding: .4rem 2.5rem;
    border-radius: 18px;
    border-style: none;
}